* {
  padding: 0;
  margin: 0;

}

body{
  background-color: #efefef!important;
  overflow-x: hidden;
  overflow-y: auto;
} 

/* 去除btn默认样式 */
.btn:focus {
  box-shadow: none !important;
  outline: none;
}

@media screen and (min-width: 576px) {
  /* 滚动条整体样式 */
  body::-webkit-scrollbar {
    width: 10px;
    height: 1px;
  }

  body::-webkit-scrollbar-thumb {
    /* 滚动条里小方块 */
    border-radius: 10px;
    background-color: skyblue;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
  }

  body::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ededed;
    border-radius: 10px;
  }
  }
  
.d-n{
  display:none!important;
}
.v-h {
  visibility: hidden !important;
}
/* 添加滚动条 */
.scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

/* 单行省略 */
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 75%;
}
/* 多行省略 */
.ellipsis-mul
{
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
}
.ellipsis-mul-3
{
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
}

























@keyframes keepmove {
  from {
    width: 0;
    background-color: #00ffff;
  }
  to {
    width: 100%;
    background-color: #f8f401;
  }
}
@keyframes changecolor {
  0% {
    background-color: #23b7e5;
  }
  33.3% {
    background-color: #23b7e5;
  }
  33.33% {
    background-color: #fad733;
  }
  66.6% {
    background-color: #fad733;
  }
  66.66% {
    background-color: #7266ba;
  }
  99.9% {
    background-color: #7266ba;
  }
}