@media screen and (min-width: 1200px) {
  #tab-bar {
    width: 1140px;
  }
}
@media screen and (max-width: 1200px) {
  #tab-bar {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  #tab-bar {
    width: 100%;
  }
}